In [2]:
#Series - ассоциативные массивы, (как например питоновские списки) отличительная черта-наличие ассоциативных меток, то есть  ндексов вдоль каждого жлемента из списка
import pandas as pd
import numpy as np

my_series=pd.Series([5,6,7,8,9,10])
my_series

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [3]:
my_series.index

RangeIndex(start=0, stop=6, step=1)

In [4]:
my_series.values

array([ 5,  6,  7,  8,  9, 10], dtype=int64)

In [6]:
my_series2=pd.Series([5,6,7,8,9,10], index=['a','b','c','d','e','f']) #можно самим создать свои индексы, как тут например, буквенные
my_series2

a     5
b     6
c     7
d     8
e     9
f    10
dtype: int64

In [8]:
my_series2.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [11]:
print(my_series[4]) #we get just a value with this index
print(my_series[[4]]) #with the help of two pairs of square brackets we get both index and its value
my_series2['a']

9
4    9
dtype: int64

5

In [13]:
mask=my_series>7 #маски и отфильтровывание
mask

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [14]:
my_series[mask]

3     8
4     9
5    10
dtype: int64

In [16]:
my_series2[['a','b','f']]=0
my_series2

a    0
b    0
c    7
d    8
e    9
f    0
dtype: int64

In [17]:
my_series2[(my_series2>0)]

c    7
d    8
e    9
dtype: int64

In [18]:
my_series2>0

a    False
b    False
c     True
d     True
e     True
f    False
dtype: bool

In [19]:
my_series3=pd.Series({'a':5,'b':6,'c':7,'d':8})
my_series3

a    5
b    6
c    7
d    8
dtype: int64

In [20]:
my_series3.name='numbers'
my_series3.index.name='letters'
my_series3

letters
a    5
b    6
c    7
d    8
Name: numbers, dtype: int64

In [21]:
#DataFrame - таблица из Series. series -столбцы, а их данные записываются в этих столбцах
df=pd.DataFrame({'city':['Moscow', 'Krasnodar','Belgorod','Kazan'],'delivery_time':[25,29,32,30],'couriers':[11440,784,112,998]})
df

        city  delivery_time  couriers
0     Moscow             25     11440
1  Krasnodar             29       784
2   Belgorod             32       112
3      Kazan             30       998

In [23]:
df.delivery_time

0    25
1    29
2    32
3    30
Name: delivery_time, dtype: int64

In [24]:
df[['delivery_time']] # с помощью двойных квадртаных скобок получаем не просто объект серии, а полноценный датафрейм

   delivery_time
0             25
1             29
2             32
3             30

In [36]:
df.index=['Msc','Krd','Blg','Kzn'] #можем переименовать индексы нашего датафрейма как нам хочется
df

          city  delivery_time  couriers
Msc     Moscow             25     11440
Krd  Krasnodar             29       784
Blg   Belgorod             32       112
Kzn      Kazan             30       998

In [27]:
#import of data

# pd. read_csv ( 'filename') прочитать какой-нибудь csv файл
# pd. read_excel (' filename') или экселевскую таблицу
# pd. read_sql (query, connection object) можно подключиться к какой-нибудь базе данных
# pd.read table (filename) 
#pd. read_json (json string)
# pd. read html(url) просто прочитать какую-ибудь страницу в интернете
# pd. read_clipboard()
# pd. DataFrame(dict)

ml=pd.read.csv('files/orders_history.csv',sep=',')
ml.head(2)

In [30]:
ml=pd.read_csv('files/orders_history.csv',sep=',') 
ml.head(2) #у меня видимо такого файла просто не загружено

FileNotFoundError: [Errno 2] File b'files/orders_history.csv' does not exist: b'files/orders_history.csv'

In [32]:
#Pandas может работать с большими фалйлами, которые могут не помещаться в оперативную память компьютера.Для этого мы можем читать файл небольшими чанками

c_size=1000
for gn_chunk in pd.read_csv('files/orders_history.csv',
                            sep=',',
                            chunksize=c_size):
    print(gn_chunk.shape) #опять же у меня просто не загружен этот файл(скорее всего его надо загружать в Jupiter тоже, поэтому не работает

FileNotFoundError: [Errno 2] File b'files/orders_history.csv' does not exist: b'files/orders_history.csv'

In [33]:
#экспорт данных
# df.to_csv(filename)
# df. to_ excel (filename)
# df.to_sql(table_name,
# df. to_json (filename)
# df. to_html (filename)
# df.to_clipboard()

In [37]:
#доступ к данным
#доступ к строкам по индексу возможен несколькими способами:

#    loc - используется для доступа по строковой матке
#    iloc - используется для доступа по числовому значению или по индексу(начиная от 0)

df.loc['Msc'] #мы до этого где-то выше создали датафрейм df, где переименовали индексы в сокращенные названия городов (Msc - индекс строки про москву)

city             Moscow
delivery_time        25
couriers          11440
Name: Msc, dtype: object

In [38]:
df

          city  delivery_time  couriers
Msc     Moscow             25     11440
Krd  Krasnodar             29       784
Blg   Belgorod             32       112
Kzn      Kazan             30       998

In [39]:
df.iloc[1]

city             Krasnodar
delivery_time           29
couriers               784
Name: Krd, dtype: object

In [40]:
type(df.iloc[0])

pandas.core.series.Series

In [43]:
#индекс+колонка
df.loc[['Msc','Kzn'],'couriers'] #обратились сначала к двух строчкам москве и казани и потом к столбцу про курьеров
#в loc and iloc запомнить, что первая часть относится к строкам, вторая - к столбцам

Msc    11440
Kzn      998
Name: couriers, dtype: int64

In [44]:
df

          city  delivery_time  couriers
Msc     Moscow             25     11440
Krd  Krasnodar             29       784
Blg   Belgorod             32       112
Kzn      Kazan             30       998

In [48]:
df.iloc[[0,1],[1]] #тут как бы это не совсем интервалы как в списках, а обращение в строкам через запятую

     delivery_time
Msc             25
Krd             29

In [50]:
df[df.delivery_time>=30][['city','couriers']] #сначала с помощью маски указываем что по строкам хотим обратиться к тем, где деливери тайм больше или равно 30, а потом указываем что хотим получать series название города и число курьеров

         city  couriers
Blg  Belgorod       112
Kzn     Kazan       998

In [52]:
#или еще фильтрацию може сделать с помошью маски (с названием filters) отдельно
filters=(df.city=='Moscow')
df[filters]

       city  delivery_time  couriers
Msc  Moscow             25     11440

In [53]:
#Создать новую колонку
df['delivery_time_hours']=df['delivery_time']/60
df

          city  delivery_time  couriers  delivery_time_hours
Msc     Moscow             25     11440             0.416667
Krd  Krasnodar             29       784             0.483333
Blg   Belgorod             32       112             0.533333
Kzn      Kazan             30       998             0.500000

In [54]:
#удалить колонки из датафрейма
df.drop(['delivery_time_hours'],axis=1) #axis=1 - это колонки, т е вертикально, axis=0 -это строки

          city  delivery_time  couriers
Msc     Moscow             25     11440
Krd  Krasnodar             29       784
Blg   Belgorod             32       112
Kzn      Kazan             30       998

In [55]:
df #- проверили что датафрейм не изменился

          city  delivery_time  couriers  delivery_time_hours
Msc     Moscow             25     11440             0.416667
Krd  Krasnodar             29       784             0.483333
Blg   Belgorod             32       112             0.533333
Kzn      Kazan             30       998             0.500000

In [56]:
#чтобы удалить по настоящему строку или колонку можно например просто переопределить датафрейм
df=df.drop(['delivery_time_hours'],axis=1)
df

          city  delivery_time  couriers
Msc     Moscow             25     11440
Krd  Krasnodar             29       784
Blg   Belgorod             32       112
Kzn      Kazan             30       998

In [57]:
#метод ренейм позволяет переименовать колонку или строку
df=df.rename(columns={'couriers':'num_of_couriers'})
df

          city  delivery_time  num_of_couriers
Msc     Moscow             25            11440
Krd  Krasnodar             29              784
Blg   Belgorod             32              112
Kzn      Kazan             30              998

In [61]:
#методы вытаскивающие n-нное число или самых больших или самых маленьких чисел, то есть нет никакой необходимости в сортировке
print(df.nlargest(3,'delivery_time'))
df.nsmallest(3,'delivery_time')

          city  delivery_time  num_of_couriers
Blg   Belgorod             32              112
Kzn      Kazan             30              998
Krd  Krasnodar             29              784

          city  delivery_time  num_of_couriers
Msc     Moscow             25            11440
Krd  Krasnodar             29              784
Kzn      Kazan             30              998

In [64]:
df.columns=['Meow','Woof',"Moooo"] #можем переименовать все колонки сразу
df

          Meow  Woof  Moooo
Msc     Moscow    25  11440
Krd  Krasnodar    29    784
Blg   Belgorod    32    112
Kzn      Kazan    30    998